.color {
  background: rgb(64, 50, 77);
  background: linear-gradient(
    90deg,
    rgba(64, 50, 77, 1) 0%,
    rgba(35, 35, 35, 1) 35%,
    rgba(37, 37, 37, 1) 100%
  );
  min-height: 100vh;
  width: 100%;
}
