.container {
  max-width: 85%;
  margin: 0 auto;
}
@media only screen and (max-width: 666px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 466px) {
  .container {
    max-width: 96%;
    margin: 0 auto;
  }
}
